.contact-us {
  .article-banner-container {
    background-position: top;
  }

  .has-icon-centered {
    align-content: center;
    display: flex;
    top: 10px !important;

    i {
      align-self: center;
    }
  }
}
